@model IEnumerable<App.Entities.Base.LgItem>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cod_FamItem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cod_UniMed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Des_Item)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fec_Creacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Can_PtoReor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Can_LotPed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Flg_Status)
        </th>
        <th>

        </th>
        <th>

        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cod_FamItem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cod_UniMed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Des_Item)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fec_Creacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Can_PtoReor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Can_LotPed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flg_Status)
            </td>
            <td>
                <a href="@Url.Action("Edit", new { id = item.Cod_Item })">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </a>
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.Cod_Item }) |*@
                @Html.ActionLink("Details", "Details", new { id = item.Cod_Item }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Cod_Item })
            </td>
        </tr>
    }

</table>