@model IEnumerable<App.Entities.Base.LgItem>

@*<p>
    @Html.ActionLink("Nuevo Item", "Create")
</p>*@

<table class="table">
    <tr>
        <th>
            Cod. Familia
        </th>
        <th>
            Cod. Unidad
        </th>
        <th>
            Descripcion Item
        </th>
        <th>
            Fecha Creacion
        </th>
        <th>
            Cant. Reorden
        </th>
        <th>
            Cant Lote
        </th>
        <th>
            Estado
        </th>
        <th>

        </th>
        <th>

        </th>

    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cod_FamItem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cod_UniMed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Des_Item)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fec_Creacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Can_PtoReor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Can_LotPed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Flg_Status)
        </td>

        <td><a class="btn btn-success" href="~/LgItem/Find/@item.Cod_Item"><span class="glyphicon glyphicon-eye-open"></span></a></td>
        <td><a class="btn btn-info" href="#" onclick="app.helpers.showModal('LgItemCreatePopup','@Url.Action("Create")')"><span class="fa fa-edit"></span></a></td>
        <td><a class="btn btn-danger" href="~/LgItem/Eliminar/@item.Cod_Item"><span class="fa fa-book"></span></a></td>

    </tr>
    }

</table>